<h3 class="post-title"><%= @post.first.title %></h3>

<div class="tag-link-div">
  <a class="add-tag-link" href="/posts/<%= @post.first.id %>/tags/new">Add a tag</a>
</div>

<div class="tags-div">
  <h3 class="tags-head">Tags:</h3>
  <ul class="all-post-tags">
    <% @post.first.tags.each do | tag | %>
      <li>
        <% if @post.first.user_id == current_user.id %>
          <form class="each-tag" action="/tags" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= tag.id %>">
            <input type="hidden" name="post_id" value="<%= @post.first.id %>">
            <input type="submit" value="X">
          </form>
        <% end %>
        <%= tag.title %>
      </li>
    <% end %>
  </ul>
</div>

<% if @post.first.user_id == current_user.id %>
  <form class="delete-post" action="/posts" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="post" value="<%= @post.first.id %>">
    <input type="submit" value="Delete This Post">
  </form>
<% end %>
